@media (min-width: 768px) {
  .CellPhone {
    display: none;
  }
  .Desktop {
    display: unset;
  }
}
@media (max-width: 768px) {
  .CellPhone {
    display: unset;
  }
  .Desktop {
    display: none;
  }
}
.CellPhone {
  padding: 4%;
}
.MyModal {
  background-color: #b8ffee;
}

.withOutPadding {
  padding: 0 !important;
}

.MyAllForm {
  width: 50%;
}
.MyContainerForm {
  display: flex;
  justify-content: center;
}
