@media (min-width: 1201px) {
  .CellPhoneInformation {
    display: none;
  }
  .DesktopInformation {
    display: block;    
  }
}
@media (max-width: 1200px) {
  .CellPhoneInformation {
    display: block;
  }
  .DesktopInformation {
    display: none;
  }
}

.DesktopInformation {
  margin-top: 5%;
  margin-bottom:5%;
}
.CellPhoneInformation {  
  margin-top: 5%;
  margin-bottom:5%;
}
