@media (min-width: 1201px) {
    .CellPhoneInformation {
      display: none;
      
    }
    .DesktopInformation {
      display: unset;
    }
  
  }
  @media (max-width: 1200px) {
    .CellPhoneInformation {
      display: unset;
    }
    .DesktopInformation {
      display: none;
    }
  }