.wrapperApp {
  display: flex;
  width: 100%;
  align-items: stretch;
}

body {
  font-family: "Poppins", sans-serif;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: var(--primary);
  color: black;
  transition: all 0.3s;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar .sidebar-header {
  padding: 20px;
}

.MyButtonSidebarApp {
  margin-right: 20px;
  padding: 10px 65px;
  background-color: var(--buttonFill);
  color: var(--fontWhite);
  font-family: "Poppins";
}
@media (max-width: 1330px) {
  .MyButtonSidebarApp {
    margin-right: 0 !important;
  }
}

.MyFooterSidebarApp {
  bottom: 30px;
  left: 0;
  width: 100%;
}

.MyNotificationsContainer {
  padding: 10px 1px 10px 1px;
  border-radius: 21px;
  box-shadow: 0 0 1em black;
  justify-content: center;
  align-items: center;
  width: 93%;
  margin: 0;
  cursor: pointer;
  background-color: var(--fontWhite);
}
.MyNotificationsContainer span.NumberSpan {
  font-size: 10pt;
  font-family: "Poppins";
  color: var(--fontBlack);
  font-weight: 600;
  margin-right: 5px;
}
.MyNotificationsContainer span.NotificationsSpan {
  font-size: 10pt;
  font-family: "Poppins";

  color: var(--fontBlack);
  font-weight: 600;
}
.userNameSideBarApp {
  font-size: 20pt;
  font-family: "Poppins";
  color: var(--fontWhite);
  font-weight: 600;
}

.myRowLinksSideBarApp {
  margin: 10% 0 0 0;
  justify-content: center;
}
.myRowLinksSideBarApp div {
  width: 70%;
  display: flex;
  align-items: center;
}
.myRowLinksSideBarApp span {
  font-size: 25px;
  cursor: pointer;
  font-family: "Poppins";
  color: var(--fontWhite);
}

@media (max-width: 1300px) {
  .MyNotificationsContainer span {
    font-size: 10pt;
  }
  .myRowLinksSideBarApp div {
    width: 100%;
    display: flex;
    justify-content: center;
  }  
  .userNameSideBarApp {
    font-size: 16pt;
  }
}
@media (max-width: 1299px) {
  .MyNotificationsContainer span.NotificationsSpan {
    display: none;
  }
}
@media (max-width: 1150px) {
  .userNameSideBarApp {
    font-size: 13pt;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .MyNotificationsContainer svg {
    margin-right: 0 !important;
  }
  .MyNotificationsContainer span {
    margin-right: 0 !important;
  }
  .myRowLinksSideBarApp div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
  .myRowLinksSideBarApp span {
    display: none;
  }
  .myRowLinksSideBarApp svg {
    margin-bottom: 7%;
    margin-right: 0 !important;
  }
}

.SpanInicioSideBar {
  color: var(--buttonFill) !important;
  position:relative;
}
.SpanInicioSideBar::after {
  width: 7px;
  height: 7px;

  margin-left: 18px;
  margin-top:27%;
  position: absolute;
  border-radius: 50%;
  content: "";
  background-color: var(--buttonFill);
}
