.wrapperApp {
    display: flex;
    width: 100%;
    align-items: stretch;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #B8FFEE;
    color: black;
    transition: all 0.3s;
    width: 100%;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #B8FFEE;
}

#sidebar ul.components {
    padding: 20px 0;   
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.teste123{
    position: absolute;
    bottom: 0;
    left:0 ;
}