.wrapperApp {
    display: flex;
    width: 100%;
    align-items: stretch;
}


body {
    font-family: 'Poppins', sans-serif;
}


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: var(--primary);
    color: black;
    transition: all 0.3s;
    width: 100%;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;    
}
.MyRowsSidebarApp{
    float:right;
}
.MyButtonSidebarApp{  
    margin-right:20px;
    padding:10px 65px;
    background-color:var(--buttonFill);
    color: var(--fontWhite);
    font-family: 'Poppins';
}
@media (max-width:1330px){
    .MyButtonSidebarApp{
        margin-right:0 !important;
    }
    .MyRowsSidebarApp{
        float:none;
    }
    .MyRowSidebarApp{
        justify-content: center;
    }
}

.MyFooterSidebarApp{
    position: absolute;
    bottom: 30px;
    left:0 ;
    width:100%;
}