.WrapperModalFriends {
  width: 100%;
  height: 650px;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 15px;
  padding: 20px;
}
.WrapperModalFriends::-webkit-scrollbar {
  display: none;
}
.MyColSideBarPeopleOnline {
  border: 2px solid var(--primary);
  border-radius: 10px;
}

.SpanInvitesSended {
  color: var(--fontWhite);
  font-family: "Poppins";
  font-size: 25px;
}
.MyColTabModalFriendUserApp {
  background-color: var(--primary);
  border-radius: 20px;
  padding: 10px;
}
.MyNavModalFriendUserApp {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.MyNavLinkModalFriendUserApp {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: var(--fontWhite) !important;
  fill: var(--fontWhite) !important;
  font-family: "Poppins";
  font-size: 15pt;

  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: 8%;
  position: relative;
}

.InvitesReceivedText {
  font-size: 18px;
}
@media (max-width: 1200px) {
  .MyNavLinkModalFriendUserApp span {
    display: none;
  }
}
.MyNavLinkModalFriendUserApp:hover {
  color: var(--buttonFill) !important;
  transition: all 0.5s ease-in-out;
}
.MyNavLinkModalFriendUserApp:hover svg {
  color: var(--buttonFill) !important;
  fill: var(--buttonFill) !important;
  transition: all 0.5s ease-in-out;
}
.MyNavLinkModalFriendUserApp:focus {
  outline: 0 !important;
}

.activeLinkModalFriendUserApp span {
  color: var(--buttonFill);
  margin-right: 20px;
}
.activeLinkModalFriendUserApp svg {
  color: var(--buttonFill);
  fill: var(--buttonFill);
}
.activeLinkModalFriendUserApp::after {
  width: 9px;
  height: 9px;
  background-color: var(--buttonFill);
  border-radius: 50%;
  top: 40%;
  content: "";
  position: absolute;
}
.ColSendInviteModalFriend {
  background-color: var(--primary);
  height: 100%;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .ColSendInviteModalFriend {
    height: 60%;
  }
}
.BackButtonConfirmation {
  background-color: #ed461d;
  color: var(--fontBlack);
  padding: 10px;
  font-family: "Poppins";
  font-size: 15px;
  width: 100%;
  border-bottom-left-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.AddButtonConfirmation {
  background-color: #33d7a3;
  color: var(--fontBlack);
  padding: 10px;
  font-family: "Poppins";
  font-size: 15px;
  width: 100%;
  border-bottom-right-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.BodyModalSearchFriend {
  max-height: 700px;
  min-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.BodyModalSearchFriend::-webkit-scrollbar {
  width: 12px;
  display: unset !important;
  /* era pora mostrar esse scrol, mas buga o svg */
}
.BodyModalSearchFriend::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.BodyModalSearchFriend::-webkit-scrollbar-track {
  display: none;
}
.SvgModalSearchFriends {
  width: 320px;
  height: 266px;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media (max-width: 1200px) {
  .SvgModalSearchFriends {
    display: none;
  }
}
.ButtonSubmitModalSearchFriend {
  border: none;
  outline: 0;
  background-color: transparent;
  width: fit-content;
}
.ButtonSubmitModalSearchFriend :hover {
  border: none;
  outline: 0;
}
.ButtonSubmitModalSearchFriend :active {
  border: none;
  outline: 0;
}
