.modal-90w {
  max-width: 80% !important;
}
.WrapperModalFriends {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  background-color: var(--primary);
  border-radius: 15px;
}
.MyColSideBarPeopleOnline {
  border: 2px solid var(--primary);
  border-radius: 10px;
}

.SpanInvitesSended {
  color: var(--fontWhite);
  font-family: "Poppins";
  font-size: 25px;
}