.WrapperModalConfig {
  margin-left: auto;
  width: 93%;
  height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
  border-radius: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  .WrapperModalConfig {
    width: 100%;
  }
}
.WrapperModalConfig::-webkit-scrollbar {
  display: none;
}
.HistoricWrapperModalConfig::-webkit-scrollbar {
  width: 8px;
  display: unset !important;
  /* era pora mostrar esse scrol, mas buga o svg */
}
.HistoricWrapperModalConfig::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.HistoricWrapperModalConfig::-webkit-scrollbar-track {
  display: none;
}

.MyNavLink {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: var(--fontWhite) !important;
  font-family: "Poppins";
  font-size: 15pt;

  padding: 10px;
  width: 100%;
  margin-top: 8%;
}
.MyNavLink span {
  position: relative;
}
.activeLinkModalConfigUser span {
  color: var(--buttonFill);
}
.activeLinkModalConfigUser svg {
  color: var(--buttonFill);
  fill: var(--buttonFill);
}
.activeLinkModalConfigUser::after {
  width: 9px;
  height: 9px;
  background-color: var(--buttonFill);
  border-radius: 50%;
  top: 56%;
  right: 10px;
  content: "";
  position: absolute;
}
@media (max-width: 1200px) {
  .MyNavLink span {
    display: none;
  }
}
.MyNavLink:hover {
  color: var(--buttonFill) !important;
  transition: all 0.5s ease-in-out;
}
.MyNavLink:hover svg {
  color: var(--buttonFill) !important;
  fill: var(--buttonFill) !important;
  transition: all 0.5s ease-in-out;
}
.MyNavLink:focus {
  outline: 0 !important;
}

.modal-content {
  border-radius: 30px;
}
.MyRowForm {
  margin: 0 !important;
  align-items: center;
}

.MyInputForm {
  height: 45px;
  box-shadow: 8.71601px 8.71601px 32.685px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 80%;
}
.MyInputFormID {
  height: 45px;
  box-shadow: 8.71601px 8.71601px 32.685px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 30%;
}
@media (max-width: 1200px) {
  .MyInputFormID {
    width: 40%;
  }
}

.MyButtonDeleteAccount {
  color: var(--buttonOutLined);
  border: 1px solid var(--buttonOutLined);
  border-radius: 6.5px !important;
  width: 50%;
  padding: 10px;
}
.MyButtonDeleteAccount:hover {
  background-color: var(--buttonOutLined);
  border: 1px solid var(--fontWhite);
  color: var(--fontWhite);
  transition: all 0.5s ease;
}
.MyColTabModalConfigUserApp {
  background-color: var(--primary);
  border-radius: 20px;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 600px;
}
.MyColTabModalConfigUserApp::-webkit-scrollbar {
  width: 7px;
}
.MyColTabModalConfigUserApp::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.MyColTabModalConfigUserApp::-webkit-scrollbar-track {
  display: none;
}
.MySvgGerenciarUserModal {
  width: 320px;
  height: 266px;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media (max-width: 1200px) {
  .MySvgGerenciarUserModal {
    display: none;
  }
}

.WrapperCardHistoricUser {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3%;
}
@media (max-width: 1000px) {
  .WrapperCardHistoricUser {
    justify-content: center;
  }
}

.MyCardHistoricUser {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 5%;
  margin-left: 3%;
  z-index: 10;
  width: 250px;
  height: 200px;
  background-color: var(--fontWhite);
  box-shadow: 0px 0px 26px rgb(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 15px;
}
.MyRowCardHistoricUser {
  margin: 0 0 5%;
  align-items: center;
}
.MyImageCardHistoricUser {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
.MySpanCardHistoricUser {
  font-family: "Poppins";
  font-size: 9px;
  color: var(--fontSecundary);
}

.MyModalHistoricInfo {
  max-width: 33% !important;
}
.WrapperModalHistoricInfo {
  height: 100%;
}
@media (max-width: 1700px) {
  .MyModalHistoricInfo {
    max-width: 60% !important;
  }
  .WrapperModalHistoricInfo {
    height: 100%;
  }
}
@media (max-width: 1300px) {
  .WrapperModalHistoricInfo {
    height: 100%;
  }
}

.UserImageModalHistoricInfo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 15px;
}

.UserSpanHistoricInfo {
  font-family: "Poppins";
  font-size: 15px;
  color: var(--fontSecundary);
}

.MyRowModalHistoricInfo {
  justify-content: flex-start;
  margin: 5% 0 0;
  align-items: center;
}
.ButtonDeletarHistoricInfo {
  background: linear-gradient(169.88deg, #e83a3a 13.07%, #e86a6a 78.14%);
  border-radius: 7px;
  padding: 10px 46px;
  cursor: pointer;
  color: var(--fontWhite);
}
.MyRowFavorites {
  margin: 10% 0 2% 9%;
  align-items: center;
}
@media (max-width: 1000px) {
  .MyRowFavorites {
    margin-left:0 !important;   
    justify-content: center;
  }
}
