.WrapperModalConfig {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  background-color: var(--primary);
  border-radius: 15px;
}

.MyNavLink {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: var(--fontWhite) !important;
  font-family: "Poppins";
  font-size:15pt;

  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top:8%;
}
.MyNavLink:focus{
  outline:0 !important;
}

.modal-content{
  border-radius: 30px;
}
.MyRowForm {
  margin: 0 !important;
  align-items: center;
}

.MyInputForm {
  height: 45px;
  border: 1px solid black !important;
  border-radius: 7px;
  width: 80%;
}

.MyButtonDeleteAccount{
  color:var(--buttonOutLined);
  border:1px solid var(--buttonOutLined); 
  border-radius:6.5px !important;
  width:50%;
  padding:10px;
}
.MyButtonDeleteAccount:hover{
  background-color: var(--buttonOutLined);
  border:1px solid var(--fontWhite); 
  color:var(--fontWhite);
  transition: all .5s ease;
}
.MyColTabModalConfigUserApp {
  background-color:var(--primary);
  border-radius:20px;
  padding:10px;
}