.WrapperModalSports {
  position: relative;
}

.BodyModalSports {
  max-height: 700px;
  min-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.BodyModalSports::-webkit-scrollbar {
  width: 8px;
  display: unset !important;
  /* era pora mostrar esse scrol, mas buga o svg */
}
.BodyModalSports::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.BodyModalSports::-webkit-scrollbar-track {
  display: none;
}

.SvgModalSports {
  width: 320px;
  height: 266px;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media (max-width: 1200px) {
  .SvgModalSports {
    display: none;
  }
}

