.MyCarousel{
    width:100%;
    height:250px;
    overflow: hidden;
}

@media (min-width:1400px){
    .BreakPoint-1{
        display: none !important;
    }
    .BreakPoint-0{
        display: unset !important;
    }
}

@media (min-width:1200px){
    .BreakPoint-1{
        display: unset;
    }
    .BreakPoint-0{
        display: none;
    }
}