.WrapperModalInfoUser {
  height: 600px;
}
@media (max-width: 1000px) {
  .WrapperModalInfoUser {
    height: 720px;
  }
}
.MyModalInfoUser {
  width: 35%;
}
.WrapperTrustedInformation {
  margin: 5%;
}
