@media (min-width:1000px){
    .InputDesktop input{        
        width:100% !important;
    }
    .InputDesktop{
        width:20%;
    }
}

.InputDesktop input{        
    border-radius:10px;
    float: left;
    
}
.InputDesktop{
    position: relative;
}
