@media (min-width: 768px) {
  .CellPhone {
    display: none;
  }
  .Desktop {
    display: unset;
  }
  .MyRowModalLogin {
    height: 720px;
  }
}
@media (max-width: 768px) {
  .CellPhone {
    display: unset;
  }
  .Desktop {
    display: none;
  }
}
.CellPhone {
  padding: 4%;
}
.MyModal {
  background-color: #b8ffee;
}

.withOutPadding {
  padding: 0 !important;
}

.MyAllForm {
  width: 50%;
}
.MyContainerForm {
  display: flex;
  justify-content: center;
}

.MyTextModalLogin1 {
  font-family: "Poppins";
  font-size: 24pt;
  font-weight: 600;
  color: black;
}
@media (max-width: 1000px) {
  .MyTextModalLogin1 {
    text-align: center;
  }
}

.MyInputModalLogin {
  border: 1px solid var(--borderInput);
  border-radius: 8px !important;
}

.MyButtonSubmitModalLogin {
  background-color: var(--buttonFill);
  border-radius: 6.5px !important;
  color: var(--fontWhite);
  width: 50%;
  padding: 10px;
}
.MyButtonSubmitModalLogin:hover {
  background-color: var(--buttonFill);
  opacity: 0.8;
  color: var(--fontWhite);
  transition: all 0.5s ease-in-out;
}
.MyButtonRegistertModalLogin {
  color: var(--buttonOutLined);
  border: 1px solid var(--buttonOutLined);
  border-radius: 6.5px !important;
  width: 50%;
  padding: 10px;
}
.MyButtonRegistertModalLogin:hover {
  background-color: var(--buttonOutLined);
  border: 1px solid var(--fontWhite);
  color: var(--fontWhite);
  transition: all 0.5s ease;
}
.error {
  color: red;
}

.MyLinkModalLogin {
  color: white;
}
