.WrapperModalSearch {
  position: relative;
}
.MyScroll {
  max-height: 600px !important;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.MyScroll::-webkit-scrollbar {
  width: 8px;
  display: unset !important;
  /* era pora mostrar esse scrol, mas buga o svg */
}
.MyScroll::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.MyScroll::-webkit-scrollbar-track {
  display: none;
}

.BodyModalSearch {
  max-height: 700px;
  min-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.BodyModalSearch::-webkit-scrollbar {
  width: 12px;
  display: unset !important;
  /* era pora mostrar esse scrol, mas buga o svg */
}
.BodyModalSearch::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.BodyModalSearch::-webkit-scrollbar-track {
  display: none;
}

.SvgModalSearch {
  width: 320px;
  height: 266px;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media (max-width: 1200px) {
  .SvgModalSearch {
    display: none;
  }
}

.MyColCardModalSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
